/* Animations for header elements */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Some default settings for all elements */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 2rem 2rem 0 2rem;
    box-sizing: border-box;
}
/* Styling Header section*/
.header {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    position: relative;
    overflow: hidden;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.bg-video__content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg-video__overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .35;
    background-size: cover;
    background-position: center;
}
/* Header logo */
.header__logo-box{
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.logo{
    height: 5rem;
}
/* Header text */
.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
}
.heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    line-height: 1.2;
    animation: moveInLeft 1s ease-out;
    text-align: center;
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .95rem;
    animation: moveInRight 1s ease-out;
}
/* Message box for displaying current progres */
#msgAlert {
    color: #ffffff;
    font-size: 2rem;
    animation: moveInTop .5s ease-out .75s;
    animation-fill-mode: backwards;
}
/* Heading text for main (results) section */
.heading-secondary{
    text-align: center !important;
    margin: 4rem 0 !important;
}
.heading-secondary--text {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}
.heading-secondary--page{
    font-size: 2rem;
    font-weight: 400;
    display: block;
    color: #2c3e50;
    letter-spacing: .1rem;
    margin: 2rem 0 -4rem 0;
}
.heading-secondary--text:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
}
.header__submit {
    text-align: center;
    backface-visibility: hidden;
}
/* Styling input fields */
#month,
#year {
    width: 16rem;
    background-color: #ffffff;
    color: #777777;
    padding: 1.5rem 3rem;
    display: inline-block;
    transition: all .2s;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    margin-left: .5rem;
    font-size: 1.7rem;
    text-align: center;
}
/* Class for preventing rage clicking */
.not-active {
    pointer-events: none;
    cursor: default;
}
/* Submit button in header section */
.btn {
    background-color: #ffffff;
    color: #777777;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    margin-left: 2rem;
    font-size: 1.6rem;
}
.btn:hover,
#month:hover,
#year:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, .3);
}
.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .3);
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #ffffff;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
/* Scroll gif in header*/
.header__scroll-box{
    position: absolute;
    left: 50%;
    bottom: 2.5%;
    transform: translate(-50%, -50%);
}
.scroll-icon{
    height: 6.5rem;
    display: none;
}
/* Styling section with all articles */
.results{
    background-color: #f7f7f7;
    padding: 12rem 0;
    margin: -13vh 0 -10vh 0;
}
.all-articles{
    max-width: 192rem;
    margin: 0 auto;
    text-align: center;
}
.all-articles::after {
    content: "";
    display: block;
    clear: both;
}
.all-articles__button{
    text-align: center;
}
/* Box with one article */
.article {
    width: 290px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 2rem 1rem;

}
.article--image{
    width: 100%;
    height: 230px;
}
/* Overlay article with details showing on hover */
.article--image--details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: whitesmoke;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-align: center;
    font-size: 15px;
    font-weight: 400;

}
.article--image--details:hover{
    opacity: .90;
}
.details__headline{
    color: #2c3e50;
    font-weight: 700;
    text-transform: uppercase;
}
.details__author{
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: .5rem;
}
.article--title{
    font-size: 17px;
}
.article--description{
    font-size: 16px;
}
/* Button for link to selected article and Next/Prev pages */
.btn-text:link,
.btn-text:visited{
    font-size: 16px;
    color: #2c3e50;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #2c3e50;
    padding: 3px;
    transition: all .2s;
    margin-top: 5px;
}
.btn-text:hover{
    background-color: #2c3e50;
    color: #fff;
    box-shadow: 0 10px 20px rgba(#000, .15);
    transform: translateY(-2px);
}
.btn-text:active{
    box-shadow: 0 5px 10px rgba(#000, .15);
    transform: translateY(0);
}
/* footer with copyright data */
.footer{
    height: 15vh;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    position: relative;
}
.footer_text-box{
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.6rem;
}
/* Some corrections for all media queries */
@media screen and (max-width: 600px),
(max-width: 900px) and (min-width: 601px),
(max-width: 1200px) and (min-width: 901px){
    .heading-primary--sub {
        letter-spacing: .8rem;
    }
}

/* Media query for Phone */
@media screen and (max-width: 600px){
    body{
        padding: 0;
    }
    html{
        font-size: 38%;
    }
}
/* Media query for Tablet portrait */
@media screen and (max-width: 900px) and (min-width: 601px){
    body{
        padding: 0;
    }
    html{
        font-size: 55%;
    }
}
/* Media query for Tablet landscape */
@media screen and (max-width: 1200px) and (min-width: 901px){
    body{
        padding: 1rem;
    }
    html{
        font-size: 60%;
    }
}
/* Media query for Big desktop */
@media screen and (min-width: 1800px){
    body{
        padding: 3rem;
    }
    html{
        font-size: 85%;
    }
}