.Results {
    background-color: #f7f7f7;
    padding: 12rem 0;
    margin: -13vh 0 -10vh 0;
}
.Heading {
    text-align: center !important;
    margin: 4rem 0 !important;
}
.HeadingText {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}
.HeadingText:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.HeadingPage {
    font-size: 2rem;
    font-weight: 400;
    display: block;
    color: #2c3e50;
    letter-spacing: .1rem;
    margin: 2rem 0 -4rem 0;
}
.Articles {
    max-width: 192rem;
    margin: 0 auto;
    text-align: center;
}
.Articles::after {
    content: "";
    display: block;
    clear: both;
}
.ArticlesButton {
    text-align: center;
}
.BtnText:link,
.BtnText:visited{
    font-size: 16px;
    color: #2c3e50;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #2c3e50;
    padding: 3px;
    transition: all .2s;
    margin-top: 5px;
}
.BtnText:hover{
    background-color: #2c3e50;
    color: #fff;
    box-shadow: 0 10px 20px rgba(#000, .15);
    transform: translateY(-2px);
}
.BtnText:active{
    box-shadow: 0 5px 10px rgba(#000, .15);
    transform: translateY(0);
}
/* footer with copyright data */
.Footer {
    height: 15vh;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    position: relative;
}
.FooterText {
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.6rem;
}